<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-slate-500 dark:text-white py-2">
  <div class="flex w-full flex-wrap items-center justify-between px-3 ">
    <a href="">
      <span class="ms-2 text-xl text-white dark:text-white">Home</span>
    </a>
    <div class="ms-5 flex w-[30%] items-center justify-between">
      <input type="search" (keyup.enter)="searchTag()" #txtTagInput
        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-secondary-500 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-surface transition duration-300 ease-in-out focus:border-primary focus:text-gray-700 focus:shadow-inset focus:outline-none motion-reduce:transition-none dark:border-white/10 dark:bg-body-dark dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill"
        placeholder="Buscar Gifs" aria-label="Search" aria-describedby="button-addon2" />

      <button (click)="searchTag()"
        class="relative z-[2] rounded-e border-2 border-primary px-6 pb-[6px] pt-2 m-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 motion-reduce:transition-none dark:text-primary-500 dark:hover:bg-blue-950 dark:focus:bg-blue-950"
        type="button" id="button-addon3" data-twe-ripple-init>
        Buscar
      </button>
    </div>
  </div>
</nav>
